body {
	font-family: Arial;
}

#dialog {
	color: white;
	font-size: 18px;
	padding: 20px;
	background-color: darkorange;
	position: fixed;
	z-index: 999;
	font-weight: bold;
}

#shadow {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 998;
	background-color: lightgrey;
	opacity: 0.8;
	top: 0px;
	left: 0px;
}